@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}


#smooth-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#smooth-content {
  min-height: 100%;
  background-color: black;
}

@font-face {
  font-family: 'MyFont';
  src: url('/assets/fonts/Free Sans Bold.ttf') format('truetype');
  font-weight:normal;
  font-style: normal;
}

